pods
RunningReader.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
RunningReader.xcodeproj/project.xcworkspace/xcuserdata/mcrowder65.xcuserdatad/UserInterfaceState.xcuserstate
RunningReader.xcodeproj/xcshareddata/xcschemes/RunningReader.xcscheme
RunningReader.xcodeproj/xcuserdata/mcrowder65.xcuserdatad/xcschemes/xcschememanagement.plist
RunningReader.xcworkspace/contents.xcworkspacedata
RunningReader.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
RunningReader.xcworkspace/xcuserdata/mcrowder65.xcuserdatad/UserInterfaceState.xcuserstate
RunningReader.xcworkspace/xcuserdata/mcrowder65.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
